.my-cloak
  .header
    .header__title
      %h2 My Cloak
    .header__weather
      = image_tag "名称未設定-6.png", size: "60x50", alt: "weather"
    .header__comment
      %p 曇時々雨 60% 14°/9° 大阪 /12/17(TUE) 
  .contents
    .contents__box
      = image_tag "jacket.jpg", size: "200x200", alt: "jacket"
    .contents__box
      = image_tag "jacket2.jpg", size: "200x200", alt: "jacket2"
    .contents__box
      = image_tag "jacket3.jpg", size: "200x200", alt: "jacket3"
    .contents__box
      = image_tag "jacket4.jpg", size: "200x200", alt: "jacket4"
    .contents__box
      = image_tag "jacket5.jpg", size: "200x200", alt: "jacket5"
    .contents__box
      = image_tag "jacket6.jpg", size: "200x200", alt: "jacket6"
    .contents__box
      = image_tag "jacket7.jpg", size: "200x200", alt: "jacket7"
    .contents__box
      = image_tag "jacket8.jpg", size: "200x200", alt: "jacket8"
    .contents__box
      = image_tag "jacket9.jpg", size: "200x200", alt: "jacket9" 
    .contents__box
      = image_tag "jacket10.jpg", size: "200x200", alt: "jacket10"
    .contents__box
      = image_tag "jacket11.jpg", size: "200x200", alt: "jacket11"
    .contents__box
      = image_tag "jacket12.jpg", size: "200x200", alt: "jacket12"
    .contents__box
      = image_tag "jacket13.jpg", size: "200x200", alt: "jacket13" 
    .contents__box
      = image_tag "jacket14.jpg", size: "200x200", alt: "jacket14" 
    .contents__box
      = image_tag "jacket15.jpg", size: "200x200", alt: "jacket15" 
    .contents__box
      = image_tag "jacket16.jpg", size: "200x200", alt: "jacket16" 
    .contents__box
      = image_tag "jacket17.jpg", size: "200x200", alt: "jacket17" 
    .contents__box
      = image_tag "jacket18.jpg", size: "200x200", alt: "jacket18" 
    .contents__box
      = image_tag "jacket19.jpg", size: "200x200", alt: "jacket19" 
    .contents__box
      = image_tag "jacket20.jpg", size: "200x200", alt: "jacket20"
  
